{% extends 'profuser/base.html' %}
{% block title %}WMR-LOVE - контакты{% endblock %}
{% block content-title %}Контакты{% endblock %}
{% block content %}
<div>           
			 <table class="table table-striped">
					<tr>
						<td>WMid </td>
						<td>425992987648</td>
					</tr>
					<tr>
						<td>WMR </td>
						<td></td>
					</tr>
					<tr>
						<td>E-mail </td>
						<td>info@wmr-love.com</td>
					</tr>
						<td>Тел. </td>
						<td>+79688218544</td>
					</tr>
			</table>
        </div>
{% endblock %}