{% extends 'catalog/base.html' %}
{% block content-title %}Каталог индексируемых статических ссылок WMR-LOVE{% endblock %}
{% block content %}
<div>
	<p>Основой продвижения вашего сайта в поисковых системах являются важные показатели ТиЦ (Яндекс) и PageRank (Google). Лучшим способом наращивания этих показателей является размещение статической ссылки вашего ресурса на сайтах, которые уже имеют солидный показатель. Поэтому размещение вашей статической ссылки на WMR-LOVE — идеальное решение! Разместить статическую ссылку вы можете через консоль рекламодателя.</p>
	<table class="table table-striped">
	{%for site in userinfo%}
		<tr>		
			<td><a href="{{site.website}}">{{site.title}}</a></td>			
		</tr>			
	{%endfor%}
	</table>	
</div>
{% endblock %}