{% extends 'serfing/base.html' %}
{% load bootstrap3 %}
{% block content %}

	<p>На WMR-LOVE существует недорогая и эффективная реклама ваших сайтов!</p> 
		
	<p>Вы оплачиваете только уникальные переходы реальных людей. Вы получаете только качественных посетителей, 	что позволит вам улучшить рейтинги своего сайта. Собственная уникальная защита от мультиаккаунтов обеспечит вам высочайшее качество трафика!</p> 

	<p>Обычный серфинг - Стандартный серфинг. Пользователь просто просматривает сайт указанное количество времени. Просмотр подтверждается капчей.</p> 

	<p>Изменить настройки возможно в любое время после добавления ссылки.</p><hr>
	<p>Ваш id - {{user.id}}</p>   
	
	{% for message in messages %}
      <h4 class="list-group-item-danger">{{ message }}</h4>
    {% endfor %}
	
	<form   method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
		{% buttons %}
		<p><a href="/pravila/" target="_blank">Прочтите правила (ссылка откроется в новом окне)</a></p>
		{% bootstrap_button "Сохранить" button_type="submit" button_class="btn-primary" %}
		{% endbuttons %}
    </form>
{% endblock %}