{% extends 'serfing/base.html' %}
{% load bootstrap3 %}
{% block content %}
 	
<p>На WMR-LOVE существует недорогая и эффективная реклама ваших сайтов!</p> 
		
<p>Письма на WMR-LOVE — это возможность не только привлечь посетителей на свой интернет-ресурс, но и донести до читателя дополнительную информацию: 
	Инструкции или правила по работе с рекламируемым сайтом, ваши предложения, поощрения, бонусы и прочие аргументы, делающие ресурс более привлекательным, 
	что безусловно увеличит его конверсию. 
	Факт прочтения письма подтверждается контрольным вопросом. Просмотр сайта - проверочным кодом. 
	По вашему желанию письмо может быть прочитано пользователем многократно или только 1 раз в месяц.</p> 

<p>Изменить настройки возможно в любое время после добавления.</p><hr>
	
{% for message in messages %}
	<h4 class="list-group-item-danger">{{ message }}</h4>
{% endfor %}
	
<form   method="post" action="">
    {% csrf_token %}
	Стоимость одного просмотра <strong> 0.09 руб. </strong>
    {% bootstrap_form form %}
	{% buttons %}
	<p><a href="/pravila/" target="_blank">Прочтите правила (ссылка откроется в новом окне)</a></p>
	{% bootstrap_button "Сохранить" button_type="submit" button_class="btn-primary" %}
	{% endbuttons %}
</form>

{% endblock %}