{% extends 'profuser/base.html' %}
{% block title %}WMR-LOVE - контакты{% endblock %}
{% block content-title %}Контакты{% endblock %}
{% block content %}
<div>           
	 <table class="table table-striped">
		<tr>
			<td></td>
			<td><i class="glyphicon glyphicon-user"></i>     WMid </td>
			<td>425992987648</td>
		</tr>
		<tr>
			<td></td>
			<td><i class="glyphicon glyphicon-ruble"></i>     WMR </td>
			<td>R677889452589</td>
		</tr>
		<tr>
			<td></td>
			<td><i class="glyphicon glyphicon-envelope"></i>     E-mail </td>
			<td>info@wmr-love.com</td>
		</tr>
			<td></td>
			<td><i class="glyphicon glyphicon-phone"></i>     ICQ </td>
			<td>716374657</td>
		</tr>
		</tr>
			<td></td>
			<td><i class="glyphicon glyphicon-phone"></i>     Тел. </td>
			<td>+79688218544</td>
		</tr>
	</table>
 </div>
{% endblock %}