{% extends 'mail/base.html' %}
{% load bootstrap3 %}

{% block content-title %}
	Отправленные cообщения
{% endblock %}

{% block content %}

<div>
	<table class="table table-bordered table-hover">
		<th class="span-task active">
			<span>Кому<span>
		</th>
		<th class="span-task active">
			Тема
		</th>
		<th class="span-task active">
			Дата
		</th>
	{% if mail %}
		{% for m in mail%}
		<tr>		
			<td>{{m.recipient }}</td>			
			<td><a href="{% url 'detail_otmail' pk=m.pk %}">{{m.title}}</a></td>			
			<td>{{m.pub_date|date:"j.m.y H:i"}}</td>	
		</tr>			
	{%endfor%}
	{% else %}
		<h5>Сообщений нет</h5>	
	{% endif %}
	</table>	

	
</div>
{% endblock %}