{% extends 'base.html' %}
{% block title %}
    WMR-LOVE зарабаток в интернете
{% endblock %}

{% block content-title %}
	Добро пожаловать на WMR-LOVE
{% endblock %}

{% block content %}
<h4>Специально для Вас:</h4>
<ul>
<li>Несколько методов заработка</li>
<li>Отсутствие порнографии</li>
<li>Уникальный функциональный интерфейс</li>
<li>Интересная работа в лучшем проекте</li>
<li>Множество способов эффективной и недорогой раскрутки сайтов</li>
<li>Уникальная система продвижения через поисковые системы</li>
<li>Расширенная система подбора целевой аудитории</li>
<li>Многофункциональная система управления рекламными кампаниями</li>
<li>Поддержка множества систем оплаты</li>
</ul>
<p>Не забудте в своем <a href="{% url 'info' %}">профиле</a> указать реквизиты для выплат.</p>
{% endblock %}