{% extends 'base.html' %}
{% block title %}
    WMR-LOVE зарабаток в интернете
{% endblock %}

{% block content-title %}
	Добро пожаловать на WMR-LOVE
{% endblock %}

{% block content %}
<p>1. Просмотр рекламы — самый простой способ заработка. Необходимо просто посмотреть сайт рекламодателя.</p>
<p>2. Выполнение заданий — самый прибыльный способ заработка. Вам просто необходимо выполнять задания, которые оплачивают вам рекламодатели.</p>
<p>3. Для вебмастера — если у вас есть свой сайт, вы можете повысить свой доход, разместив наш блок с контекстной рекламой. Дизайн блока легко настраивается и хорошо вписывается в любой сайт.</p>
 
<h2>Как увеличить заработок?</h2>
 
<p>Приглашая рефералов в наш проект вы получаете от 10% до 20% от их заработка, также до 10% за рефералов второго уровня и до 8% за рефералов третьего уровня.</p>
<p>Трехуровневая реферальная система позволит вам максимально увеличить свой заработок!</p>
<p>От чего зависит ваш заработок? От того как много рефералов вы пригласите в наш проект, чем больше у вас рефералов, тем больший ваш доход а соответственно и заработок. А также от ваших усилий, просмотра серфинга, чтение писем, выполнений не сложных заданий, участие в конкурсах. Также у нас имеется карьерный рост на нашем проекте WMR-LOVE.Com.</p>
 
<h3>Для рекламодателей:</h3>
<p><strong>От 11 рублей за 1000 посетителей!</strong></p>
<p>Разместить рекламу в интернете!
 
<p>Разместить рекламу в интернете и получить большой приток посетителей достаточно просто, нужно всего  навсего заполнить форму: описание и адрес сайта, оплатить и ваша реклама будет размещена в автоматическом режиме без какой либо модерации. И десятки тысяч пользователей её сразу увидят и приток уникальных посетителей будет продолжаться пока не закончится ваша рекламная компания, чем больший заказ вы делаете тем большая предоставляется скидка.</p>
 
<p>Также постоянным рекламодателям мы предлагаем постоянную скидку на любой вид рекламы до 5%, Вы также можете пополнить вашу рекламную компанию в вашем  Персональном кабинете не дожидаясь её окончания, достаточно просто авторизоваться через LoginWM</p>
 
<p>Для рекламодателей у нас проводятся ежедневные конкурсы! Каждый день мы поощряем самых активных рекламодателей. Учитываются все средства: пополнение баланса, пополнение любого вида рекламы. При пополнении с WebMoney — учитывается пополнение только с того WMID, который указан в профиле. 
<p>За 1-ое место — рекламодатель получает 15% от потраченных им средств за день на рекламный счет. </p>
<p>За 2-ое место — рекламодатель получает 10% от потраченных им средств за день на рекламный счет. </p>
<p>За 3-ое место — рекламодатель получает 5% от потраченных им средств за день на рекламный счет.</p>
{% endblock %}