{% extends 'profuser/base.html' %}
{% block title %}
    Основа хорошего заработка — рефералы | WMR-LOVE зарабаток в интернете
{% endblock %}
{% block content-title %}
Рекламные материалы
{% endblock %}
{% block content %}

		<p>Основа хорошего заработка — рефералы. Это пользователи, которые зарегистрируются на нашем проекте по вашему приглашению, пройдя по специальной реферальской ссылке или баннеру.</p>

		<h5>Ваша ссылка для привлечения рефералов:</h5>
		
			<div>
				<p class="reflink">http://wmr-love.com/profuser/ref/{{users}}</p>
			</div>
    

{% endblock %}