{% extends 'profuser/base.html' %}
{% load bootstrap3 %}
{% block content-title %}
Пополнение рекламного счета
{% endblock %}
{% block content %}    
    <h5>Сумма пополнения {{money}} руб.</h5>
    <form method="post" action="https://wmr-love.com/profuser/money/payeerres/">
        {% csrf_token %}
        <input type="hidden" name="m_shop" value="297863614">
        <input type="hidden" name="m_status" value="success">
        <input type="hidden" name="m_operation_id" value="12345">
        <input type="hidden" name="m_sign" value="AF3E4958FF851FECE5B6ED4AF7D2FA595D4CF9AACE7EEB857C99AEE2BEA56E09">
        <input type="input" name="m_orderid" value="{{user.id}}">
        <input type="input" name="m_amount" value="{{money}}">
        <input type="hidden" name="m_curr" value="RUB">
        <input type="hidden" name="m_desc" value="{{ description }}">
        <input type="hidden" name="m_sign" value="AF3E4958FF851FECE5B6ED4AF7D2FA595D4CF9AACE7EEB857C99AEE2BEA56E09">
        <input type="hidden" name="form[ps]" value="2609">
        <input type="hidden" name="form[curr[2609]]" value="RUB">
        {% buttons %} 
            {% bootstrap_button "Пополнить" button_type="submit" button_class="btn-primary" %}
        {% endbuttons %}
    </form>
{% endblock %}